.feature-text {
  color: #7F56D9;
  background: #e6dff6;
  padding: 3px;
  border-radius: 10px;
  position: absolute;  
  left: 50%;  
  transform: translateX(-50%);  
  margin-top: 50px; 
  z-index: 10; 
}

.Advance {
  text-align: center; 
  padding: 50px 20px;
  position: relative; 
}

.Advance-main-container {
  max-width: 1200px;
  margin: 0 auto; 
}

.title-head {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
}

.descriptions {
  font-size: 18px;
  color: #475467;
  margin-bottom: 40px;
}

 
.image-container {
  width: 100%; 
  overflow: hidden; 
  position: relative; 
}

.image-container img {
  width: 100%; 
  height: auto; 
  display: block;  
}
 
@media (max-width: 768px) {
  .title-head {
      font-size: 28px; 
  }

  .descriptions {
      font-size: 16px; 
  }

  .feature-text {
      margin-top: 30px; 
  }
}
