.analytics-section {
  text-align: center;
  background-color: white;
  font-family: Arial, sans-serif;
}

.heading {
  font-size: 36px;
  font-weight: bold;
  color: #101828;
  margin-bottom: 10px;
}

.subheading {
  font-size: 16px;
  color: #475467;
  margin-bottom: 20px;
}

.buttons-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 40px;
}

.demo-btn {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 16px;
  color: #333;
  cursor: pointer;
}

.demo-play {
  padding: 5px;
}

.signup-btn {
  background-color: #7F56D9;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.stats {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-top: 5%;
  height: auto; 
  width: 90%;
  max-width: 1280px; 
  overflow: hidden;  
  margin-left: 70px;
}

.stats-img {
  width: 100%; 
  height: auto; 
  border-radius: 10px;  
}

.signup-btn:hover, .demo-btn:hover {
  opacity: 0.9;
}

.company-logos-section {
  text-align: center;
  margin: 40px 0;
}

.company-logos-heading {
  font-size: 18px;
  color: #6c757d;
  margin-bottom: 20px;
  margin-top: 50px;
}

.company-logos {
  display: flex;
  flex-wrap: wrap; 
  gap: 20px; 
  justify-content: flex-start; 
  margin-left: 250px;

}
 

.company-logo {
  display: flex; 
  align-items: center; 
  gap: 10px; 
}

.company-logo img {
  max-width: 40px;  
  height: auto;  

}

.company-logo p {
  font-size: 16px; 
  font-weight: bold;
  color: #212529;
  margin: 0;  
  white-space: nowrap; 


}

@media (max-width: 768px) {
  .company-logos {
    display: grid; 
    grid-template-columns: repeat(2, 1fr);  
    gap: 20px;  
    align-items: center;
    justify-content: center;
    margin-left: 10px;
     
  }
 
  .company-logo img {
    max-width: 60px; 
    height: auto; 
  }

  .company-logo p {
    font-size: 14px; 
    margin-left: 10px; 
  }
  .stats {
    margin-left: 10px;
  }
  .demo-btn {
    width: 100%;  
        margin: 5px 0;  
        text-align: center;
  }
  .signup-btn {
    width: 100%;  
        margin: 5px 0;  
  }
  .buttons-container{
    flex-direction: column;  
        padding: 10px; 
  }
}
